.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  color: #141414;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background: url("../imagens/decofibo.svg") no-repeat center;
  position: absolute;
  top: -17px;
  left: -37px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao {
    gap: 60px;
  }
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao h1::before {
    width: 53px;
    height: 53px;
    border-radius: 53px;
    left: -23px;
    top: -10px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    left: -15px;
    top: -6px;
  }
}

@media (max-width: 400px) {
  .introducao img {
    display: none;
  }
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao p {
    font-size: 1.25rem;
  }
}
